@font-face {
  font-family: 'ABC Ginto';
  src: url('./ABCGinto-Regular-Trial.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ABC Ginto';
  src: url('./ABCGinto-Bold-Trial.woff') format('woff');
  font-weight: bold;
  font-style: normal;
} 